// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

@charset "UTF-8";

@font-face{
  font-family: 'ProximaNova-Regular';
  src: url(($base-url)+'fonts/ProximaNova-Regular.eot');
  src: url(($base-url)+'fonts/ProximaNova-Regular.ttf')format("truetype"),
  url(($base-url)+'fonts/ProximaNova-Regular.woff') format('woff'),
  url(($base-url)+'fonts/ProximaNova-Regular.svg#webfont') format('svg');
  font-style: normal;
  font-weight: normal;
}